<!DOCTYPE html>
<html lang="en">
<head>
  
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Visual Novel Book Club</title> 
  <link rel="stylesheet" href="/css/edit_post_styles.css">
  <link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Patrick+Hand" rel="stylesheet">
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
</head>

<body>
    <div id="editPostContainer">

    <h2 class="heading">Edit Post</h2>
    <form class="ui form" method="POST" action="/post/<%= @edit_post.id %>"> 

        <input type="hidden" name="_method" value="PUT">
        
        <div class="field">
            <label> Title: </label>
            <input type="text" name="title" placeholder="New title" value="<%= @edit_post.title %>">
        </div>

        <div class="field">
            <label> Image URL: </label>
            <input type="text" name="image"  placeholder="Image URL" value="<%= @edit_post.image %>">
        </div>

        <div class="field">
            <label> Text Editor: </label>
            <textarea name="content" id="writePost" value="<%= @edit_post.content %>"></textarea>
        </div>

        <input class="rightButton" type="submit" value="Update">
    </form>

<form method="POST" action="/post/<%= @edit_post.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <input class="rightButton" type="submit" value="Delete <%= @edit_post.title %>">
</form>

</div>
</body>