<!DOCTYPE html>
<html lang="en">
<head>
  
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Visual Novel Book Club</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=ABeeZee|Homemade+Apple|Patrick+Hand" rel="stylesheet">
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
  <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
  <script>
  tinymce.init({
    selector: '#writePost'
  });
  </script>
</head>

<body>
<% if session[:user_id] %>
  <nav>
    <span><a href="<%= url('/') %>">Home</a></span>
    <span><a href="/user/<%=session[:user_id]%>/posts">My Posts</a></span>
    <span><a href="<%= url('/explore') %>">Explore</a></span>
    <span><a href="/user/<%=session[:user_id]%>/edit">Account Settings</a></span>
    <span><a href="<%= url('/sign_out') %>">Sign Out</a></span>
  </nav>
<% else %>
  <span><a href="<%= url('/') %>">Home</a></span>
  <span><a href="<%= url('/sign_in') %>">Sign In</a></span>
  <span><a href="<%= url('/register') %>">Sign Up</a></span>
<% end %>

  <%=yield%>

</body>
</html>