<!DOCTYPE html>
<html lang="en">
<head>
  
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NEED A TITLE</title> 
</head>

<body>
<% if session[:user_id] %>
  <span><a href="<%= url('/') %>">Home</a></span>
  <span><a href="<%= url('/create_post') %>">Create Post</a></span>
  <span><a href="<%= url('/sign_out') %>">Sign Out</a></span>
<% else %>
  <span><a href="<%= url('/') %>">Home</a></span>
  <span><a href="<%= url('/sign_in') %>">Sign In</a></span>
  <span><a href="<%= url('/register') %>">Sign Up</a></span>
<% end %>

  <%=yield%>

</body>
</html>