<!DOCTYPE html>
<html lang="en">
<head>
  
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NEED A TITLE</title> 
  <link rel="stylesheet" href="css/user_home_styles.css">
</head>

<body>
  <span><a href="<%= url('/') %>">Home</a></span>
  <span><a href="<%= url('/create_post') %>">Create Post</a></span>
  <span><a href="<%= url('/sign_out') %>">Sign Out</a></span>
  <span><a href="/user/<%=session[:user_id]%>/edit">Delete Account</a></span>

  <%=yield%>

</body>
</html>